body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  margin: none;
  background-color: darkslateblue;
}

.frame {
  width: 30rem;
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ghost-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: floating 5s infinite;
          animation: floating 5s infinite;
}

.ghost-container .upperbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 16rem;
  width: 16rem;
  background-color: white;
  border-radius: 50% 50% 0 0;
  -webkit-box-shadow: 0px 0px 37px 0px wheat;
          box-shadow: 0px 0px 37px 0px wheat;
}

.ghost-container .upperbody .face {
  height: 6rem;
  width: 8rem;
}

.ghost-container .upperbody .face .eyes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.ghost-container .upperbody .face .eyes-container .eye {
  background-color: black;
  height: .9rem;
  width: .9rem;
  border-radius: 50%;
}

.ghost-container .upperbody .face .cheeks-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: .6rem;
}

.ghost-container .upperbody .face .cheeks-container .cheek {
  height: 1.5rem;
  width: 1.7rem;
  background-color: pink;
  border-radius: 50%;
}

.ghost-container .upperbody .face .mouth-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -.8rem;
}

.ghost-container .upperbody .face .mouth-container .mouth {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 5px solid black;
  border-color: transparent transparent black black;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.ghost-container .lowerbody-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.ghost-container .lowerbody-container .lowerbody {
  background-color: white;
  width: 4rem;
  height: 4rem;
  -webkit-box-shadow: 0px 0px 37px 0px white;
          box-shadow: 0px 0px 37px 0px white;
}

.ghost-container .lowerbody-container .lowerbody1 {
  border-radius: 0 0 100% 30%;
}

.ghost-container .lowerbody-container .lowerbody2, .ghost-container .lowerbody-container .lowerbody3 {
  border-radius: 0 0 50% 50%;
}

.ghost-container .lowerbody-container .lowerbody4 {
  border-radius: 0 0 30% 100%;
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  50% {
    -webkit-transform: translate(1rem, 1rem);
            transform: translate(1rem, 1rem);
  }
  70% {
    -webkit-transform: translate(-1rem, -1rem);
            transform: translate(-1rem, -1rem);
  }
  100% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  50% {
    -webkit-transform: translate(1rem, 1rem);
            transform: translate(1rem, 1rem);
  }
  70% {
    -webkit-transform: translate(-1rem, -1rem);
            transform: translate(-1rem, -1rem);
  }
  100% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
}
/*# sourceMappingURL=style.css.map */